<div class="flex justify-center items-center min-h-screen bg-gradient-to-b from-[#ebf5fb] to-[#ffffff] p-6">
  <div class="card shadow-lg border border-[#d6e4f0] rounded-lg w-full max-w-md p-8 bg-[#ffffff]">
    <p-card>
      <!-- Bandera del País -->
      <p-header class="text-center flex justify-around items-center">
        <p-image [src]="country.flag" alt="{{ country.name }} Bandera" width="110"
          class="rounded-lg shadow-md border border-[#b0cce1]"></p-image>
        <h2 class="text-2xl font-bold text-[#4a90e2] mt-4">{{ country.name }}</h2>
      </p-header>

      <body>
        <div class="py-6">
          <div class="space-y-6">
            <div class="flex justify-between">
              <span class="font-semibold text-[#4a90e2]">Presidente:</span>
              <span>{{ country.president }}</span>
            </div>
            <div class="flex justify-between">
              <span class="font-semibold text-[#4a90e2]">Tamaño:</span>
              <span>{{ country.size | number }} km²</span>
            </div>
            <div class="flex justify-between">
              <span class="font-semibold text-[#4a90e2]">Población:</span>
              <span>{{ country.population | number }}</span>
            </div>
            <div class="flex justify-between">
              <span class="font-semibold text-[#4a90e2]">Idioma:</span>
              <span>{{ country.language }}</span>
            </div>
            <div class="flex justify-between">
              <span class="font-semibold text-[#4a90e2]">Moneda:</span>
              <span>{{ country.currency }}</span>
            </div>
            <div class="flex justify-between">
              <span class="font-semibold text-[#4a90e2]">Región:</span>
              <span>{{ country.region_name }}</span>
            </div>
            <div class="flex justify-between">
              <span class="font-semibold text-[#4a90e2]">Usuario:</span>
              <span>{{ country.user_name }}</span>
            </div>
          </div>
        </div>
      </body>

      <p-footer>
        <div class="flex justify-between mt-6">
          <p-button label="Volver a la Lista" pRipple icon="pi pi-arrow-left"
            styleClass="bg-[#4a90e2] hover:bg-[#6ca0dc] text-white font-semibold text-sm py-2 px-4 rounded-lg"
            (onClick)="lista()">
          </p-button>
          <p-button *ngIf="edit" label="Editar" pRipple icon="pi pi-pencil"
            styleClass="bg-yellow-500 hover:bg-yellow-600 text-white font-semibold text-sm py-2 px-4 rounded-lg"
            (onClick)="editar()">
          </p-button>
        </div>
      </p-footer>
    </p-card>
  </div>
</div>
