<div class="flex justify-center items-center min-h-screen bg-gradient-to-b from-[#ebf5fb] to-[#ffffff] p-6">
  <div class="card shadow-lg border border-[#d6e4f0] rounded-lg w-full max-w-6xl p-8 bg-[#ffffff]">
    <h2 class="text-2xl font-bold text-center text-[#4a90e2] mb-6">Países del Mundo</h2>

    <p-table [value]="countries" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]"
      [responsiveLayout]="'scroll'" [sortMode]="'single'" class="p-datatable-gridlines">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
          <th>Presidente</th>
          <th>Bandera</th>
          <th pSortableColumn="region_name">Región <p-sortIcon field="region_name"></p-sortIcon></th>
          <th>Usuario</th>
          <th>Acción</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-country>
        <tr>
          <td>{{ country.name }}</td>
          <td>{{ country.president }}</td>
          <td>
            <p-image [src]="country.image" alt="{{ country.name }} Bandera" width="110"
              class="rounded-lg border border-[#b0cce1] shadow-md">
            </p-image>
          </td>
          <td>{{ country.region_name }}</td>
          <td>{{ country.user_name }}</td>
          <td>
            <p-button label="Ver" pRipple icon="pi pi-eye"
              styleClass="bg-[#4a90e2] hover:bg-[#6ca0dc] text-white font-semibold text-sm py-2 px-4 rounded-lg"
              (click)="viewCountry(country.id)">
            </p-button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft">
        <div class="text-[#4a90e2] font-medium">Mostrando países</div>
      </ng-template>
    </p-table>
  </div>
</div>
